@charset "utf-8";
/*margin*/
.mt2{ margin-top:5px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}

.mr2{ margin-right:2px;}
.mr5{ margin-right:5px;}
.mr8{ margin-right:8px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mb2{ margin-bottom:2px;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.ml2{ margin-left:2px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
/*padding*/
.pl5{ padding-left:5px;}
.pr5{ padding-right:5px;}
.pd10{ padding:10px;}
.pd20{ padding:20px;}
/*font*/
.f32{ font-size:32px;}
.f25{ font-size:25px;}
.f20{ font-size:20px;}
.f18{ font-size:18px;}
.f16{ font-size:16px;}
.f14{ font-size:14px;}
/*bold*/
.bold{ font-weight:bold;}
/*--*/
.tc{text-align:center; }
.tl{ text-align:left;}
.tr{ text-align:right;}
/*bacground*/
.bg-blue{background:#1f8dd6;}
.bg-red{ background:#dd514c;}
.bg-yellow{background:#fad232;}
.bg-orange{background:#ea7b1d;}
.bg-green{background:#5eb95e;}
.bg-purple{background:#8058a5;}
.bg-f1{ background:#f1f1f1;}
/*color*/
.gray,.gray a{ color:#ccc;}
.red,.red a{ color:#fa0c04;}
.blue,.bue a{ color:blue;}
.yellow,.yellow a{ color:#fad232;}
.orange,.orange a{ color:#ea7b1d;}
.green,.green a{ color:#5eb95e;}
.purple,.purple a{color:#8058a5;}
/*border*/
.border-gray{ border:1px solid #ccc;}
.border-blue{ border:1px solid #075385;}
/*line-height*/
.lh20{line-height:20px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.lh35{line-height:35px;}
/*width*/
.w35{width:35px;}
.w50{width:50px;}
.w75{width:75px;}
.w100{width:100px;}
.w135{width:135px;}
.w150{width:150px;}
.w185{width:185px;}
.w250{width:250px;}
.w350{ width:350px;}
.w400{width:400px;}
.w700{width:700px;}
.w800{width:800px;}
.pre100{ width:100%;}
/*height*/
.h20{ height:20px;}
.h22{ height:22px;}
.h24{ height:24px;}
.h26{ height:26px;}
.h28{ height:28px;}
.h35{ height:35px;}
.h80{ height:80px;}
/*block*/
.db{ display:block;}
/*button*/
.butbase{ display:inline-block;  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; text-align:center; color:#fff; cursor:pointer; border:none; }
/*table*/
.tab{ width:100%; line-height:38px; border:1px solid #ccc;}
.tab a{ margin-right:8px;}
.tab td,tab tr{ border:1px solid #ccc;}
.tab th{ background:#dcdcdc; font-size:14px;border:1px solid #ccc;}
/*列表*/
.dl-horizontal{ margin:10px 0; overflow:hidden; clear:both;}
.dl-horizontal dt,.dl-horizontal dd{ float:left; }

/*布局*/
.siderLeft{ position:absolute;left:0; top:0; width:180px; background:#d1edff;  }
.mainContent{ margin-left:0px; margin-right:10px; overflow:hidden;}

