@charset "utf-8";

/*--*/
.siderleft-top{ padding:12px; line-height:35px; text-align:center;}
.siderleft-top h1{ color:#024275;font-family:"\5FAE\8F6F\96C5\9ED1";}
.siderleft-mune{ margin-left:12px;}
.siderleft-mune li {margin-bottom:15px; }
.siderleft-mune li a{background:#9dd7fc; display:block; line-height:32px; height:32px; -webkit-border-top-left-radius:10px;
-webkit-border-bottom-left-radius:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-bottomleft:10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;  padding-left:12px; font-size:14px;color:#0666a6;font-weight:bold;}
.siderleft-mune li a:hover{ text-decoration:none;}
.siderleft-mune li a.active{ background:#fff; border:1px solid #7ecafa; border-right:0; }
.siderleft-mune li span{ width: 22px; height:25px; margin-right:5px; vertical-align:middle; display:inline-block; background:url(../images/adminbbs-spri.png) no-repeat;}
.siderleft-mune li span.m-01{background-position:-4px 0;}
.siderleft-mune li span.m-02{background-position: -5px -60px;}
.siderleft-mune li span.m-03{background-position: -6px -115px;}
.siderleft-mune li span.m-04{background-position: -5px -172px;}
.siderleft-mune li ul{ margin:10px 0 10px 15px; overflow:hidden; line-height:25px; color:#024275;  font-size:13px; clear:both;}
.siderleft-mune li ul li{ margin:0;}
.siderleft-mune li ul li a{ color:#024275; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; background:none; font-size:13px; padding:0; line-height:25px; height:25px; font-weight:normal;}
.siderleft-mune li ul li a:hover{ text-decoration:underline;}
.siderleft-mune li ul li a.active{ color:#1f8dd6; font-weight:bold; text-decoration:none; background:none;border:0;}
.mainContent h1{ line-height:40px; font-size:14px; padding-left:10px; color:#1f8dd6; border-bottom:2px solid #1f8dd6; clear:both; }
.mainContent .top{ margin:15px 0; overflow:hidden; font-size:14px; line-height:25px;}



