<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SZHome.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SZHome.Common.Properties.Settings>
            <setting name="SZHome_Common_com_szhome_inside_smsservice_sms_ws"
                serializeAs="String">
                <value>http://smsservice.inside.szhome.com/sms_ws.asmx</value>
            </setting>
        </SZHome.Common.Properties.Settings>
    </applicationSettings>
</configuration>