<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="vs:EnableBrowserLink" value="false"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- ***********************错误日志配置*************************-->  
  <!-- 配置日志记录的过滤关键字的正则表达式 -->
  <add key="ERROR_LOG_FILTER_REGEX" value="该控制器未实现|.jpg|不存在|favicon.ico"/>
  <!--当一个Errorlog表记录多个项目的日志时，设置不同的SiteID做区分 1:web 2:publish 3 szNews 4 hzNews 5 dgNews 如果只有一个网站，可直接设置为 0-->
  <add key="ERROR_LOG_SITE_ID" value="2"/>
  <!-- ************************************************************-->
  <!--上传图片路径-->
  <add key="ImageFileUploadPath" value="D:\NikTest\web\UploadFile\Images\" />
  <!--上传图片大小限制-->
  <add key="UploadImageMaxSize" value="38024" />

  <!--要查询的币  cardano-->
  <add key="coins" value="finchain,bytom,loopring,nuls,health-care-chain,anwang,neo" />
  <!--<add key="coins" value="finchain,bytom,loopring,nuls,health-care-chain,electionchain,anwang,neo,ripple,tron,verge,stellar,vechain,iota,icon,qtum,eos,timenewbank" />-->
  
  <!--交易所 Bithumb,P网-Poloniex,李逵-Liqui,Upbit,Coinone,Korbit-->
  <!--<add key="PlatForms" value="币安网-Binance,B网-Bittrex,炒客网-CHAOEX,OEX,OKEX,ZB网-ZB-com,火币Pro-Huobi" />-->
  <add key="PlatForms" value="Bithumb,P网-Poloniex,李逵-Liqui,Upbit,Coinone,Korbit" />

<!--比较的交易所-->
  <add key="ComparePlatForms" value="binance,bittrex,chaoex,oex,okex,zb,huobipro,dragonex" />

  <!--发短信的币-->
  <add key="CoinsSms" value="lrc,nuls" />
</appSettings>

