<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!--<add name="SZHomeBOL_V2013" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=SZHomeBOL_V2013;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHomeMarket_V2012" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=SZHomeMarket_V2012;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHome_MarketClub" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=SZHome_MarketClub;TimeOut=15" providerName="System.Data.SqlClient"/>
 
  <add name="Articles" connectionString="server=web;uid=webaccess;password=yitudev;database=Articles;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="Article_Toutiao" connectionString="server=web;uid=webaccess;password=yitudev;database=Article_Toutiao;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="Article_SZNews" connectionString="server=web;uid=webaccess;password=yitudev;database=Article_SZNews;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="Article_HZNews" connectionString="server=web;uid=webaccess;password=yitudev;database=Article_HZNews;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="Article_DGNews" connectionString="server=web;uid=webaccess;password=yitudev;database=Article_DGNews;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="Article_FSNews" connectionString="server=web;uid=webaccess;password=yitudev;database=Article_FSNews;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="DongDongCircle" connectionString="server=web;database=DongDongCircle;uid=chenxiaobin;pwd=cxb54321;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="DongDongUser" connectionString="server=web;uid=webaccess;password=yitudev;database=DongdongUser;TimeOut=15" providerName="System.Data.SqlClient"/>

  <add name="DongdongStatic" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=DongdongStatic;TimeOut=15" providerName="System.Data.SqlClient"/>

  <add name="SZHomeMarket_V2012" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=SZHomeMarket_V2012;TimeOut=15" providerName="System.Data.SqlClient"/>

  <add name="SZHomeUser" connectionString="server=web;uid=webaccess_SZHomeUser;password=M2G_GZu#W8#Z;database=SZHomeUser;TimeOut=15" providerName="System.Data.SqlClient" />

  <add name="BBSFans" connectionString="server=web;uid=webaccess_BBSFans;password=Fc4LF@$Nf0;database=BBSFans;TimeOut=15" providerName="System.Data.SqlClient" />

  --><!--<add name="BBSMain" connectionString="server=113.105.78.39;uid=webaccess;password=isHd8#uwU)dvm6T;database=BBSMain;max pool size=50000;TimeOut=30" providerName="System.Data.SqlClient" />--><!--
  <add name="BBSMain" connectionString="server=web;uid=webaccess_BBSMain;password=2KYDqHU9@u;database=BBSMain;TimeOut=15" providerName="System.Data.SqlClient" />

  <add name="SZHomeQuestion" connectionString="server=web;uid=webaccess_SZHomeQuestion;password=i3Y_MIpfbK_D;database=SZHomeQuestion;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="SZHomeTags" connectionString="server=web;uid=webaccess_SZHomeTags;password=ZcXXktJ%P!;database=SZHomeTags;max pool size=50000;TimeOut=30" providerName="System.Data.SqlClient" />
  --><!--<add name="Articles" connectionString="server=113.105.78.35;uid=webaccess_toutiao;password=hPv^GkUf32;database=Articles;TimeOut=15" providerName="System.Data.SqlClient"/>--><!--
  <add name="SZHomeWawo" connectionString="server=web;uid=webaccess_SZHomeWawo;password=UP74GCjj_A9V;database=SZHomeWawo;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBSSubject" connectionString="server=web;uid=webaccess_BBSSubject;password=U7*X4bNBfc;database=BBSSubject;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBSSubjectMarket" connectionString="server=web;uid=webaccess_BBSSubject;password=U7*X4bNBfc;database=BBSSubjectMarket;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="HouseDataCenter_V2016" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=HouseDataCenter_V2016;TimeOut=15" providerName="System.Data.SqlClient"/>

  <add name="BBSWatch" connectionString="server=web;uid=webaccess_BBSWatch;password=ul*fvasI^A;database=BBSWatch;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBSMobile" connectionString="server=web;uid=webaccess_SZHome_Mobile;password=uvb7X(9FiP;database=SZHome_Mobile;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBS_At" connectionString="server=web;uid=webaccess_BBSAt;password=Cev^78ZXbz;database=BBS_At;TimeOut=15" providerName="System.Data.SqlClient" />-->

</connectionStrings>
